.header {
   height: var(--header-height);
   border-bottom: 1px solid var(--border-color);
   display: flex;
   align-items: center;
}

.header > *:not(:last-child) {
   margin-right: 16px;
}

.textLogo {
   font-size: 1.5em;
   color: var(--text-primary);
   text-decoration: none;
   font-weight: 500;
}
