@import '~normalize.css';
@import './variables-colors.css';
@import './variables.css';

html {
   color: var(--text-primary);
   background-color: var(--base);
   font-family: var(--font-family);
   font-size: var(--font-size);
}

html,
body {
   height: 100%;
}
