:root {
   --header-height: 40px;
   --footer-height: 32px;
   --font-family: system-ui;
   --font-size: 16px;
   --main-page-height: calc(
      100vh - var(--header-height) - var(--footer-height) - 2px
   );
}
